/* Navidation bar */
nav {
    top: 0;
    left: 20px;
    right: 20px;
    position: fixed;
    padding: 10px;
    text-align: center;
    border-radius: 0px 0px 20px 20px;
    backdrop-filter: blur(50px);
}

nav div{
    display: inline-block;
    background-color: whitesmoke;
    padding: 5px;
    border-radius: 30px;
}

nav i {
    color: orange;
    float: left;
    font-size: 28px;
    margin: 0px 10px;
    font-weight: bold;
}

nav a {
    padding: 10px 20px;
    color: black;
    border-radius: 50px;
    text-decoration: none;
}

nav a:hover {
    color: white;
    background-color: orange;
}

nav button {
    float: right;
    border: none;
    padding: 10px;
    margin: 0px 5px;
    font-size: 20px;
    border-radius: 50px;
}

nav button:hover {
    background-color: orange;
    color: white;
}
/* Navigation bar */



/* Cart */
#cart {
    display: none;
    width: 350px;
    padding: 10px;
    top: 60px;
    right: 20px;
    position: fixed;
    text-align: center;
    border-radius: 20px;
    background-color: whitesmoke;
}

#cart header {
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

#cart_items {
    height: 400px;
    overflow-y: scroll;
}

#close_cart {
    float: right;
    margin: 5px 10px;
}

#cart button {
    padding: 10px;
    margin: 5px;
    border-radius: 50px;
    color: black;
    border: none;
    font-weight: bold;
}

#cart button:hover {
    background-color: orange;
    color: white;
}
/* Cart */



/* Home */
#home {
    padding: 50px 10px;
    margin-top: 60px;
    overflow: auto;
}

#home div {
    float: left;
    width: 50%;
    margin: 100px 0;
}

#home p {
    margin: 20px 10px;
    font-size: 30px;
}

#home p i {
    color: orange;
    font-weight: bold;
}

#home a {
    color: black;
    padding: 15px;
    margin: 0px 30px;
    border-radius: 50px;
    text-decoration: none;
    background-color: orange;
}

#home a:hover {
    color: white;
    box-shadow: 0 10px 30px gray;
}

#home video {
    float: right;
    width: 50%;
    height: 500px;
    border-radius: 20px;
}
/* Home */



/* About */
#about {
    padding: 10px;
    margin: 50px 0;
    text-align: center;
}

#about header {
    padding: 10px;
    margin: 30px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
/* About */



/* Menu */
#menu {
    padding: 10px;
    margin: 50px 0;
}

#menu header {
    padding: 10px;
    margin: 30px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.products {
    display: flex;
    flex-wrap: wrap;
}

.products .product {
    width: 250px;
    height: 400px;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    text-align: center;
    background-color: whitesmoke;
}

.products .product:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.products img {
    width: 100%;
    height: 200px;
    border-radius: 50%;
}

.products button {
    padding: 10px;
    border-radius: 50px;
    color: black;
    border: none;
    font-weight: bold;
}

.products button:hover {
    background-color: orange;
    color: white;
}
/* Menu */


/* Contact */
#contact {
    padding: 30px;
    margin: 30px 0;
    overflow: auto;
}

#contact div {
    float: left;
}

#contact h1 {
    font-size: 24px;
    font-weight: bold;
}

#contact p {
    font-size: 20px;
}

#contact a {
    color: black;
    padding: 15px;
    margin: 0px 20px;
    border-radius: 50px;
    text-decoration: none;
    background-color: whitesmoke;
}

#contact a:hover {
    color: white;
    background-color: orange;
}

#contact form {
    margin: 10px;
    float: right;
    text-align: center;
}

#contact form legend {
    font-size: 24px;
    font-weight: bold;
}

#contact input {
    width: 90%;
    padding: 10px;
    margin: 10px;
    border-radius: 50px;
    border: 1px solid;
}

#contact textarea {
    width: 90%;
    padding: 10px;
    margin: 10px;
    border-radius: 50px;
}

#contact button {
    width: 40%;
    padding: 20px;
    border-radius: 50px;
    color: black;
    font-weight: bold;
    border: none;
}

#contact button:hover {
    background-color: orange;
    color: white;
}
/* Contact */



/* Footer */
#whatsapp {
    color: white;
    right: 20px;
    bottom: 20px;
    position: fixed;
    text-decoration: none;
    background-color: #25d366;
    border-radius: 50%;
    padding: 15px;
    font-size: 30px;
}

#whatsapp:hover {
    background-color: green;
}

footer {
    padding: 10px;
    text-align: center;
}
/* Footer */



/* Responsive Design */
@media (max-width: 768px) {
    nav {
        left: 10px;
        right: 10px;
    }

    nav div {
        display: none;
    }

    #cart {
        width: auto;
        right: 10px;
        left: 10px;
    }

    #home {
        margin-top: 70px;
    }

    #home div {
        width: 100%;
        margin: 0px;
    }

    #home video {
        width: 100%;
        margin: 30px 0;
    }

    .products .product {
        width: 90%;
    }

    #contact input, #contact textarea {
        width: 90%;
    }

    #contact button {
        width: 50%;
    }
}
/* Responsive Design */